-title "#{@entry.title}_#{@entry.hangye} < #{@entry.company_name}",@entry.title,false
-meta :keywords,@entry.keywords
-if @entry.text.present?
  -meta :description,strip_tags(@entry.text.body).gsub("\"","'").gsub(/\s*/,'').truncate(160)
-@cols = "col2r"
%h1.entry-title=@entry.title
.entry
  .pull-left
    =image_tag @entry.photo,class: "photo img-rounded",width: 300,height: 200
  .details
    %ul.attrs
      %li
        %strong 价格
        =@entry.price || "--"
      %li
        %strong 公司
        -if @entry.company.present?
          =link_to @entry.company.name,company_link(@entry.company)
        -else
          \--
      %li
        %strong 所在
        -if @entry.province.present? or @entry.city.present?
          =link_to @entry.province.name,url_for("/"+@entry.province.pinyin) if @entry.province.present?
          =link_to @entry.city.name,url_for("/"+@entry.city.pinyin) if @entry.city.present?
        -else
          \--
      %li
        %strong 行业
        =@entry.hangye || "--"
      %li
        %strong 品牌
        =@entry.pinpai || "--"

= render :partial => 'topics/relates',:locals=>{q: @entry.q,limit: 15,title: "相关搜索"}
-if @entry.description.present?
  .summary=@entry.description
-if @entry.text.present?
  .entry-content
    -text = clean_body(@entry.text.body)
    -@arr = [text[0,255],text[255,text.length]].compact
    =simple_format @arr[0]
    -if @arr[1].present?
      =js_write simple_format(@arr[1])

= render :partial => 'entries/relates',:locals=>{q: @entry.q,limit: 10,title: "相关信息"}

-if can? :edit,@entry
  = link_to 'Edit', edit_entry_path(@entry)
  \|
= link_to 'Back', entries_path
