-title t(".title",:name=>@topic.name),@topic.name
-meta :keywords,t(".keywords",:name=>@topic.name)
-meta :description,t("topics.show.description",:name=>@topic.name,count: @companies.total_entries)
-meta :robots,"noindex" if @companies.total_entries == 0
-@cols = :col2r
-@hide_recent = true
-@hide_ad = true if @companies.total_entries == 0


%p.description=t('.summary',:name=>@topic.name,:count=>@companies.total_entries).html_safe
%p.stats
  ="找到#{@companies.total_entries}项结果,耗时(#{@companies.query_time * 1000}毫秒)"
= render :partial => 'companies/list',:locals=>{:results=>@companies,:q=>@q}
.pull-right=nofollow_sub paginate(@companies,window: 5)
.clearfix
-@provinces = Company.province_facets(@topic.name)
-if @provinces.present?
  %h4 #{@topic.name}分省浏览
  %ul.list-inline
    -@provinces.each do |p,count|
      %li
        =link_to "#{p.short_name}#{@topic.name}",topic_city_url(p.pinyin,@topic.slug),:rel=>(count > 1 ? "" : "nofollow")
        %small (#{count})
-#.pull-right=xpaginate(@companies,theme: "etao",window: 10)
.clearfix
%p.description=t('.notice',:name=>@topic.name,:count=>@companies.total_entries).html_safe
-content_for :sidebar do
  -#-@provinces = Company.province_facets(@topic.name)
  -#-if @provinces.present?
    -#%h2 #{@topic.name}分省浏览
    -#%ul.unstyled
      -#-@provinces.each do |p,count|
        -#%li=link_to "#{p.short_name} (#{count})",topic_city_url(p.pinyin,@topic.slug),:rel=>(count > 1 ? "" : "nofollow")
  -if @entries.present?
    %h2 #{@topic.name}相关信息
    %ul.unstyled
      -@entries.each do |e|
        %li=link_to e.title.truncate(20),e,title: e.title
  -if @relates.present?
    %h2 #{@topic.name}相关搜索
    %ul.unstyled
      -@relates.each do |r|
        -next if r.nil?
        %li=link_to r.name,topic_url(r)
