.category-main{"data-click"=>'{"act":"a_click_category", "mod":"select_category", "fr":"ns","cat":"category"} '}
  .class-list
    -@cats.each do |slug,group|
      -label = group[0]
      -vars = group[1]
      .list-item{class: "#{slug}-item","data-type"=>"learn"}
        .list-wrapper
          <h2>#{label.html_safe}</h2>
          <b class="arrow-icon"></b>
          <b class="line-cover"></b>
          .hot-query
            -vars.slice(0,14).each do |r|
              <a class="hot-item" target="_blank" href="/s-#{r[0]}">#{r[1]}</a>
        .hot-query-layer
          <h3 class="class-name"><a>#{label.html_safe}</a></h3>
          %ul.class-item
            -last = vars.size - 15
            -vars.slice(14,last + 1).each_with_index do |r,i|
              %span.item{class: [cycle('','','','last',name: label), (i == last) ? "last" : nil].compact,name: slug}
                <a target="_blank" href="/s-#{r[0]}">#{r[1]}</a>
