-title @title
-meta :robots,"noindex"
-params.delete :l
-@cols = :col2r
-@hide_recent = true
-@hide_ad = true if @companies.total_entries == 0
-if @provinces.present?
  %h4 分省浏览
  %p.links
    -@provinces.each do |p|
      =link_to "#{p.short_name} (#{p.companies_count})",{q: params[:q],l: p.short_name},:rel=>"nofollow"
-#-@facets.each do |facet, facet_options| 
  -#%h5=facet
  -#%ul
    -#-facet_options.each do |option, count| 
      -#%li=link_to "#{option} (#{count})",params: {facet=> option}
%p.stats
  ="找到#{@companies.total_entries}项结果,耗时(#{@companies.query_time * 1000}毫秒)"
-if @relates.present? && @relates.size > 1
  %p.links
    相关搜索
    -@relates.each do |r|
      -next if r.nil? or r.name == @q
      =link_to r.name,topic_url(r)
= render :partial => 'companies/list',:locals=>{:results=>@companies,:q=>@q}
.pull-right=nofollow_sub paginate(@companies)
-content_for :sidebar do
  -#-debug @groups
  -#%ul
    -#-@groups.each_with_group_and_count do |e,group,count|
      -#%li
        -#-#=group
        -#=count
