-@nocontent = true
-@nonav = true
-@hide_search = true
-@hide_cities = true
-title "企业搜索——企业名录搜索/查询,产品供求信息发布,企业宣传推广"
-meta :description,t('.description')
-meta :keywords,t('.keywords')
-@title_suffix = ""
.welcome
  .container
    .logo
      <a href="" class="logo-main">#{Settings.sitename}</a>
      <a href="" class="logo-en">#{Settings.domain}</a>
    %form.form-inline{:action=>'/search'}
      -#.prev
        -#<a href="">切换城市</a>
      %input.input-xlarge{type: 'text',name: 'q',id: 'q',placeholder: "关键词"}
      -#%input.input-mini{type: 'text',name: 'l',id: 'l',placeholder: "全国"}
      =select_tag :l,options_from_collection_for_select(Province.select('id,short_name').all,:short_name,:short_name),class: "input-small", prompt: "全国"
      %button.btn.btn-primary{type: 'submit'} 企业搜索
      -#=region_select_tag [:province, :city], province_prompt: "全国", city_prompt: "全省", class: 'input-small'
      %p.stats
        收录企业: #{Company.search_count}
        今日新增: #{Company.where("created_at > ?",1.day.ago).count}
      %p.description
        =@meta[:description]
    %ul.nav.nav-tabs#homeTab
      %li.active 
        %a{href: "#qiye"} 最新收录
      %li
        %a{href: "#sell"} 供求信息
    .tab-content
      .tab-pane.active#qiye
        %h2 最新收录  
        = render :partial => 'companies/recent',:locals=>{:limit=>30}
        .clearfix
      .tab-pane#sell
        %h2 供求信息  
        = render :partial => 'entries/recent',:locals=>{:limit=>15}
        .clearfix
