-title @page_title,@company.name
-@cols = "col2r"
-#-rcats =  Category.search_pair [@company.fuwu,@company.hangye].join(',').truncate(600)
-#-patt = Regexp.new(rcats.keys.join("|"))
.contact
  %h2 #{@company.short_name}联系信息
  -if @company.province.present?
    %p
      %strong 所在:
      =link_to @company.province.name,url_for(@company.province.pinyin)
  -elsif @company.locs.present?    
    .location
      %strong 所在地
      -@company.locs.each do |arr|
        =link_to arr[0],city_link(arr[1])
  -if @company.contact.present?
    %p 联系人: #{@company.contact}
  -if @company.address.present?
    %p 地址: #{@company.address}
  -if @company.mobile.present?
    %p 手机: #{@company.mobile}
  -if @company.phone.present?
    %p 电话: #{@company.phone}
-if @company.fuwu.present?
  %p
    %strong 主营产品
    -#=@company.fuwu.gsub(patt){|s|"<a href=\"/fenlei-#{rcats[s].to_params}\">#{s}</a>"}.html_safe
    =@company.fuwu
-if @company.hangye.present?
  %p
    %strong 主营行业
    =@company.hangye
    -#=@company.hangye.gsub(patt){|s|"<a href=\"/fenlei-#{rcats[s].to_params}\">#{s}</a>"}.html_safe
-if @company.text.body.present?
  %h2 #{@company.short_name}简介
  .entry-content
    =js_write @company.text.body
  -#-@arr = [@company.text.body[0,255],@company.text.body[255,@company.text.body.length]].compact
  -#=@arr[0]
  -#-if @arr[1].present?
    -#-#%a{:href=>"#"} 详细
    -#=js_write @arr[1]

  -#=@company.text.body.gsub(patt){|s|"<a href=\"/fenlei-#{rcats[s].to_params}\">#{s}</a>"}.html_safe
-if @company.metas.present?
  %h2 #{@company.short_name}注册信息
  %table.metas.table
    -@company.metas.sort{|a,b| a.mkey.length<=>b.mkey.length}.each do |m|
      -next if m.mval.blank?
      %tr
        %th=m.mkey
        %td=m.mval.sub(/\[已认证\]/,'')

= render :partial => 'topics/relates',:locals=>{q: @company.fuwu,limit: 20,title: "#{@company.short_name}相关搜索"}
-if @related.present?      
  %h2 #{@company.short_name}相关企业
  %ul.unstyled
    -@related.each do |c|
      -next if c.nil?
      %li
        =link_to c.name,company_link(c)
        %br
        %small=c.text.body.truncate(50)


-content_for :sidebar do
  -#-if @company.cats.present? and @company.locs.present?
    -#%tt 相关分类
    -#%ul.cats.unstyled
      -#-@company.locs.each do |city|
        -#-@company.cats.each do |c|
          -#%li
            -#%a{:href=>citycat_link(city[1],c)}="#{city[0]}#{c.name}"
            

