= link_to t('appname'), root_url, :class => 'brand'
%ul.nav
  %li=link_to "分类","/fenlei"
  %li=link_to "企业","/qiye"
%ul.nav.pull-right
   
  - if user_signed_in? 
    %li= link_to('退出', destroy_user_session_path(), :method=>'delete')
    %li= link_to('设置', edit_user_registration_path())
    - if current_user.has_role? :admin
      %li= link_to('管理', '/admin')
  - elsif 1==2
    %li
      = link_to('登录', new_user_session_path(),:rel=>"nofollow")
    %li
      = link_to('免费注册', new_user_registration_path(),:rel=>"nofollow")
